.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#sosmed {
  padding-top: 1rem;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

#sosmed .container .col a {

  color: rgb(0, 0, 0);

}

.verifikasi {
  display: inline-block;
}

.jumbotron .deskripsi {
  margin-top: -30px;

}